html { 
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Nav bar*/
.container{
    text-align: center;
}
.btn{
    border: 1px solid #fff;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Georgia;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1, .btn2, .btn3, .btn4{
    color: #fff
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
    color: #000;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before, .btn2::before, .btn3::before, .btn4::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before, .btn2:hover::before, .btn3:hover::before, .btn4:hover::before{
    height: 180%;
}
/*End of Nav bar*/
h1{
    text-align: center;
    font-family: Georgia;
}
p{
    text-align: center;
    /*
    height: 50vh;
    box-sizing: border-box;
    */
    padding: 35px;
    background-color: #fff;
}
footer{
    text-align: center;
    margin-top: auto;
    padding: 20px;
    background: #fff;
    margin: auto;
}
/*Image Settings*/
.image{
    align-self: center;
    width: 400px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
}